{% extends 'layouts/base.html' %}


{% block content %}
    <h1>About {{ username}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi excepturi aliquid ab numquam fugit saepe quaerat officiis dolor assumenda repellat facere earum, praesentium non deleniti expedita? Dolore iste pariatur rem.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium suscipit reiciendis officia obcaecati cupiditate officiis ea possimus dolorem facere ab sequi deserunt, aliquam animi, ullam consectetur at in pariatur sit?</p>

{% endblock %}