

    {% extends 'layouts/base.html' %}
    {% block content %}
    <h1 class="text-center">Galeria de imagenes</h1>
  <section class="container galeria">

    <div class="row">

    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <img src="" alt="Imagenes" class="rounded" id="imgModal">
      </div>
    </div>


  </section>
    <input type="file" id="archivo" onchange="leerArchivo()" />
    <div id="contenedor-imagenes"></div>
    
    {% endblock %}
